.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;

  @include media("<large") {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }

  .nav-btn {
    border: none;
    border-radius: 0;
    background-color: $color-primary;
    color: $color-grey-dark-2;
    font-size: 4rem;
    cursor: pointer;
    align-self: flex-start;

    @include media("<large") {
      align-self: center;
      margin-right: 2rem;
    }
  }
}
